*{
	padding:0px;
	margin: 0px;
}
body{
	background: #999;
}
#whitebg{
	height: 150px;
	background: #fff;
}
.left{
  float:left;
}
.right{
  float:right;
}
.errorBg{
  background: #f00;
}
#wrapper{
	height: 600px;
}
#wrapperLeft{
	border: #000 solid 1px;
	width: 190px;
	height: 250px;
	margin-right: 25px;
	padding: 10px 0px 0px 10px;
}
#pageName{
  text-transform: uppercase;
  padding: 5px 3px;
  background: #ffffff;
}
#wrapperRight{
	padding-top: 15px;
}
#regTable{
	width: 500px;
	border-collapse: collapse;
}
#regTable td{
	padding: 5px 7px;
	border:#000 solid 1px;
}
#footer{
  clear: both;
  height: 20px;
}
