*{
	padding:0px;
	margin: 0px;
}
body{
	background: #999;
}
h1{
	width: 315px;
	margin: 150px auto 15px auto;
}
table{
	border-collapse:collapse;
	margin:auto;
	width: 500px;
}
td{
	border: #000 1px solid;
	height: 25px;
	padding: 5px;
}
#submit{
	width: 100px;
}
